.row-fluid
  .span12
    .visible-desktop.text-center
      %h1= @farm.name
      %br    
    .span5
      .visible-phone.text-center
        %h5 This coconut water comes from
        %h1= @farm.name
      = render 'farm_carousel'
      / .row
      / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "https://www.youtube.com/embed/iiuP3ylemaw?feature=player_embedded", :width => "400"}
    .span5
      %dl
        %dt Farm description:
        %dd= @farm.description
      .row-fluid
        .span3
          %dl
            %dt Fruit:
            %dd= @farm.fruit
        .span3
          %dl
            %dt Community:
            %dd= link_to @farm.community.name, community_path(@farm.community.id)
        .span3
          %dl
            %dt Planted:
            %dd= @farm.planted_on
        .span3
          %dl
            %dt Area:
            %dd= @farm.area
      %dl
        %dt Soil type:
        %dd= @farm.soil_type
      - if can? :edit, Farm
        = link_to 'Edit', edit_farm_path(@farm)
        |
      = link_to 'Back', farms_path
