.navbar.navbar-fixed-top
  = image_tag("BANNER_trans4.png")
  %nav 
    .span12
      %h1 KnowYourCoconut
    %ul.inline.text-center
      %li= link_to "Farms", farms_path
      %li= link_to "Communities", communities_path
      %li= link_to "Cohabitants", cohabitants_path
      %li= link_to "Farmers", farmers_path
      - if user_signed_in?
        %li= link_to('Edit account', edit_user_registration_path)
        - if current_user.has_role? :superadmin
          %li
            = link_to('Admin', users_path)
        %li= link_to('Logout', destroy_user_session_path, :method=>'delete')
