= simple_form_for(@community) do |f|
  = f.error_notification
  .span5
    = f.input :name
    = f.input :nearest_town
    = f.input :population
    = f.input :languages
    = f.input :religions
    = f.input :cuisine
    = f.input :practices
  .span5
    = f.input :description

  .row
    = f.button :submit
