%h1 Listing communities

%table
  %tr
    %th Languages
    %th Religions
    %th Description
    %th Cuisine
    %th Practices
    %th Population
    %th Nearest town
    %th Name
    %th
    %th
    %th

  - @communities.each do |community|
    %tr
      %td= community.languages
      %td= community.religions
      %td= community.description
      %td= community.cuisine
      %td= community.practices
      %td= community.population
      %td= community.nearest_town
      %td= community.name
      %td= link_to 'Show', community
      %td= link_to 'Edit', edit_community_path(community)
      %td= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Community', new_community_path
