%p#notice= notice

%p
  %b Languages:
  = @community.languages
%p
  %b Religions:
  = @community.religions
%p
  %b Description:
  = @community.description
%p
  %b Cuisine:
  = @community.cuisine
%p
  %b Practices:
  = @community.practices
%p
  %b Population:
  = @community.population
%p
  %b Nearest town:
  = @community.nearest_town
%p
  %b Name:
  = @community.name
%p
  %b Harmless Harvest farms:

  - @farms.each do |farm|
    = link_to farm.name, farm_path(farm.id)
    - unless farm == @farms.last
      |
%br
/ - if current_user && current_user.has_role(:admin?)

- if current_user && current_user.has_role(:superadmin)
  = link_to 'Edit', edit_community_path(@community)
  \|
  = link_to 'Back', communities_path
