!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "KnowYourCoconut"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico' 
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container
      = render 'navigation'
      = render 'messages'
    .container
      = yield 
    = render 'footer'

    / = debug(params) if Rails.env.development?